build/*
cmake-build-debug/*
.idea/*
experiments/local_measurements/*
__pycache__/
**/plots/.ipynb_checkpoints/
**/plots/myvenv
**/plots/*.pdf
**/plots/*.csv
experiments/experiment_scheduler/measurements/*