build/*
cmake-build-debug/*
.idea/*
experiments/local_measurements/*
__pycache__/
**/plots/.ipynb_checkpoints/
**/plots/myvenv
**/experiments/plots/*.pdf
**/experiments/plots/paper_plots/*.pdf
**/experiments/plots/current_analysis/*.csv*
**/plots/*.csv
experiments/experiment_scheduler/measurements/*
experiments/feature_extraction_xdbc/xdbc_experiments_master.csv
experiments/feature_extraction_xdbc/.idea/*
